<div class="service-detail-container">
  <a class="back-link" (click)="goBack()">← Back</a>

  <h1 class="service-title">{{ service.title }}</h1>

  <div class="service-description">
    <p>{{ service.description }}</p>
  </div>

  <div class="service-details">
    <p><strong>Service Type:</strong> {{ service.serviceType.name }}</p>
    <p><strong>Published Date:</strong> {{ service.publishDate | dateFormat }}</p>
  </div>

  <div class="jiffy-info">
    <p><strong>Mercenary:</strong> {{ service.user.fullName }}</p>
    <p><strong>Contact:</strong> 
      <a [href]="'mailto:' + service.user.email"> {{ service.user.email }}</a>
    </p>
  </div>

  <!-- Conditionally display the "Book Offer" button -->
  <div>
    <button
        [disabled]="hasActiveBooking"
        [ngClass]="{
            'bg-blue-500 hover:bg-blue-700': !hasActiveBooking,
            'bg-gray-500': hasActiveBooking,
            'text-white font-bold py-2 px-4 rounded': true
        }"
        (click)="bookService()">
        {{ hasActiveBooking ? 'Already Booked' : 'Book Offer' }}
    </button>
</div>
</div>