<article *ngIf="service" class="max-w-md mx-auto bg-white rounded-xl shadow-lg overflow-hidden transform transition-transform duration-300 hover:scale-105">
    <div class="p-6">
      <!-- Title -->
      <h1 class="text-3xl font-semibold text-gray-900">{{service.title}}</h1>
  
      <!-- Service Type Badge -->
      <div class="mt-2 flex items-center">
        <span class="px-3 py-1 text-sm rounded-full bg-blue-100 text-blue-600 font-medium">
          {{service.serviceType.name}}
        </span>
      </div>
  
      <!-- Price -->
<div class="mt-4 flex items-center space-x-2">
    <!-- Price Icon -->
    <i class="fa-solid fa-coins text-yellow-700"></i>
  
    <!-- Price Text -->
    <p class="text-2xl font-bold text-gray-800 bg-blue-100 border border-blue-300 rounded-lg p-3">
        €{{service.price.toFixed(2)}}
      </p>
  </div>
  
  
      <!-- Description -->
      <p *ngIf="!isDetail" class="mt-4 text-gray-700">
        {{service.description | shortenContent : 250}}
      </p>
      <p *ngIf="isDetail" class="mt-4 text-gray-700">
        {{service.description}}
      </p>
  
      <!-- Buttons and Actions -->
      <div class="py-4 flex space-x-4">
        <!-- Details Button -->
        <button 
          class="bg-orange-500 hover:bg-orange-700 text-white font-semibold py-2 px-4 rounded transition-colors duration-200"
          (click)="detail(service.id)">
          Details
        </button>
  
        <!-- Booking and Admin Actions -->
        <div *ngIf="isShop && isAuthenticated" class="flex space-x-4">
          <!-- Booking Button -->
          <button
            [disabled]="hasActiveBooking"
            [ngClass]="{
              'bg-blue-500 hover:bg-blue-700': !hasActiveBooking,
              'bg-gray-400 cursor-not-allowed': hasActiveBooking
            }"
            class="text-white font-semibold py-2 px-4 rounded transition-colors duration-200"
            (click)="bookService()">
            {{ hasActiveBooking ? 'Already Booked' : 'Book Offer' }}
          </button>
  
          <!-- Admin Delete Button -->
          <button *ngIf="isAdmin()"
            class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded transition-colors duration-200"
            (click)="deleteService(service.id)">
            Delete Service
          </button>
        </div>
      </div>
  
      <!-- Footer -->
      <footer class="mt-4 text-gray-600">
        <p><span class="font-semibold">Requester:</span> {{service.user.fullName}}</p>
        <p><span class="font-semibold">Published:</span> {{service.publishDate | dateFormat}}</p>
        <p><span class="font-semibold">Service Type:</span> {{service.serviceType.name}}</p>
      </footer>
    </div>
  </article>
  