<div class="text-center mb-8">
    <h1 class="text-5xl font-bold text-gray-800">The Shop</h1>
</div>

<div class="mb-4 ">
    <input
        type="text"
        placeholder="Filter by title"
        [(ngModel)]="titleFilter"
        (ngModelChange)="applyFilters()"
        class="border-2 border-gray-300 rounded-lg p-2 mr-4"
    />
    <select
        [(ngModel)]="serviceTypeFilter"
        (ngModelChange)="applyFilters()"
        class="border-2 border-gray-300 rounded-lg p-2"
    >
        <option value="">All Service Types</option>
        <option *ngFor="let type of serviceTypes" [value]="type.id">{{ type.name }}</option>
    </select>
</div>

<!-- Grid container for services -->
<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <app-service-guest *ngFor="let service of filteredServices" [service]="service"></app-service-guest>
</div>

<p *ngIf="!filteredServices.length" class="text-center mt-4">No services available... :(</p>